body {
	font-family:Helvetica, sans-serif;
    background-color: rgb(238, 235, 221);
    margin: 20;
    padding: 10;
}

.canvas {
    border: 1px solid #000000;
    height: 98%;
}

.ctxmenu {
    font-family:Helvetica, sans-serif;
    font-size: 10pt;
    display: none;
    position: fixed;
    background: rgb(238, 235, 221);
    color: black;
    cursor: pointer;
    border: 1px black solid
}
  
.ctxmenu > p {
    padding: 0 1rem;
    margin: 0;
}
  
.ctxmenu > p:hover {
    background: rgb(116, 116, 116);
    color: ghostwhite;
}

.editMenu {
    width: 32px;
}

.nodeState {
   margin-top: 4px; 
}
