@charset "ISO-8859-1";

body {
  font-family: Helvetica, sans-serif;
}

button {
    height: 20px;
    width: 80px;
}

.title-highlight {
    font-weight: 400;
    font-size: 24px
}

.status-table {
    text-align: left;
    font-size: 12px;
    border: 1px solid #dfdfdf;
    border-collapse: collapse;
}

.status-th {
    border: 1px solid #dfdfdf;
    border-collapse: collapse;
    background-color: rgb(253, 238, 217);
}

.status-tr {
    border: 1px solid #dfdfdf;
    border-collapse: collapse;
}
